# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
.coverage
.pytest_cache/
htmlcov/

# IDE/editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# SQLite DB
db.sqlite3
